.container {
  max-width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

input {
  margin: 20px 0;
  padding: 10px 10px 10px 30px;
  border-radius: 40px;
  border: 3px solid rgb(57, 122, 57);
  background-color: rgba(255, 219, 219, 0.60);
  width: 450px;
  color: rgba(12, 55, 15, 0.83);
  font-size: 19px;
}

.reg-button {
  background-color: rgba(90, 159, 94, 0.83);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 200px;
  padding: 20px;
  &:hover {
    background-color: rgb(35, 92, 39, 0.90);
  }
  font-size: 19px;
}
