:host {
  max-width: 800px;
  margin: 20px auto;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 30px;
}

input {
  margin: 20px 0;
  padding: 10px 10px 10px 30px;
  border-radius: 40px;
  border: 3px solid rgb(57, 122, 57);
  background-color: rgba(255, 219, 219, 0.60);
  width: 450px;
  color: rgba(12, 55, 15, 0.83);
  font-size: 19px;
}

.reg-button {
  background-color: rgba(90, 159, 94, 0.83);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 200px;
  padding: 20px;
  &:hover {
    background-color: rgb(35, 92, 39, 0.90);
  }
  font-size: 19px;
}

.reminder {
  background-color: rgba(253, 233, 233, 0.76);
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: rgba(62, 87, 62, 0.76) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
