:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin: 5rem auto auto 8rem;
  font-family: "site-font", sans-serif;
  font-size: 12rem;
  color: rgb(26, 57, 26, 0.85);
  font-weight: lighter;
}
